*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}
.container{
    max-width: 1240px;
    margin: auto;
}
section{
    margin-top: 60px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* commont Button Style */
.btn{
    background:#2563EB;
    border: none;
    border-radius:10px ;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #0447d8;
}

.btnOutline{
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius:10px ;
    padding: 10px 25px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.btnOutline:hover{
    background: #2563EB;
    border-color: #2563EB ;
    color: white;
}

/* navBar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logoItem{
    display: flex;
    gap: 5px;
}

.navList{
    display: flex;
    gap: 25px;
}

.navList li a{
    font-size: 16px;
    font-family: inter;
    font-family: "Inter", sans-serif;
    color: black;
}

.navList li a:hover{
    color: #2563EB;
}


/* Hero Section Style */
.hero{
    background: url(./assets/banner.jpg);
    background-size:cover;
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
    
}

.shadowDark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.heroContent{
    position: relative;
    text-align: center;
    z-index: 2;
}
.heroContent h1{
    color: white;
    font-size: 45px;
    
}

.heroContent p{
    color: rgb(143, 141, 141);
    max-width: 600px;
    margin-top: 30px;
}

.heroContent button{
    margin-top: 200px;
}

/* Questions regarding Attendance */
.contentTitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
    color: rgb(28, 202, 28);
}


.attendTitle p{
    text-align: center;
    font-size: 15px;
}

.benifitCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 60px;


}

.singleBenifitCard{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    text-align: center;
    transform: translateY(0);
    transition: 0.2s ease transform;
}
.singleBenifitCard:hover{
    transform: translateY(-20px);
    box-shadow: 0 1px 6px rgba(4, 208, 79, 0.5);
    border: 1px solid rgb(42, 171, 42);
}

.singleBenifitCard div i{
    font-size: 50px;
    color: rgb(220, 78, 78);
    margin-bottom: 30px;
    margin-top: 40px;

}

.singleBenifitCard h3{
    margin-bottom: 70px;
    font-size: 25px;
}
/* Speaker info Section */

.speakerInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 40px;
}

.singleSpeaker{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
.singleSpeaker img{
    width: 100%;
    transition:0.2s ease transform;
    transform: scale(1);
    
}

.singleSpeaker img:hover{
    transform: scale(1.05);
}
.speakerContent{
    margin-left: 20px;
}
.speakerContent h6{
    color:#2563EB;
    margin: 5px 0;
    text-transform: uppercase;
}
.speakerContent h3{
    margin-bottom: 10px;
}

/* Card Section Style */
.card h1{
    margin-bottom: 12px;
}

.card p{
    text-align: center;
    font-size: 15px;
}

.premiumCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    
    
}

.cardPrice{
   margin-bottom: 20px; 
   border-bottom: 1px solid rgb(156, 155, 155);
   padding-bottom: 30px;
}

.cardPrice h1{
    margin: 13px 0;
}
.cardPrice h5,
.cardPrice h6{
    color: rgb(101, 100, 100);
}
.cardPrice h5{
    text-transform: uppercase;
}
.singleCard{
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 30px;
    transition:0.2s ease all;
    transform: scale(1);
    cursor: pointer;
}
.singleCard:hover{
    transform: scale(1.05);
}

.singleCard:nth-child(2){
    background-color: black;
    color: white;
}
.singleCard:nth-child(2) h5{
    color: #2563EB;
}
.singleCard ul{
    line-height: 40px;
    margin-bottom: 40px;
    margin-left: 10px

}
.singleCard ul li{
    list-style:disc;
}

.singleCard button{
    width: 100%;

}


/* shedule style */

.shedule{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 80px;
    margin-top: 50px;
    
}

.singleShedule{
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(1);
    transition: 0.2s ease all;
}

.singleShedule:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(22, 230, 95, 0.5);
    border: 1px solid rgb(52, 160, 52);

}

.singleShedule h5{
    color: rgb(40, 157, 40);
    margin-bottom: 30px;
    
}

.singleShedule h2{
    margin-bottom: 40px;
}

.singleShedule h4:first-of-type{
    margin-bottom: 30px;
}

.singleShedule h4:last-of-type{
    margin-bottom: 40px;
}
/* footer Stylish */

footer{
    margin-top: 50px;
    background: #cac9c9;
    padding-top: 100px ;
    padding-bottom: 40px;
}
.footerTitle{
    border-bottom: 1px solid rgb(41, 39, 39) ;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footerContent{
    text-align: center;
}

.footerLink{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(88, 86, 86);
    margin-bottom: 20px;
}
.footerLink p{
    text-align: justify;
}

.footerLink img{
    width: 200px;
    margin-bottom: 20px;
}

.linkIcon{
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-top: 20px;
}
.linkIcon span a{
    color: black;
}

.linkIcon span a:hover{
    color: rgb(103, 43, 214);
}


.linkList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    padding-bottom: 20px;
}

.linkList h4{
    font-size: 23px;
    margin-bottom: 12px;
}

.linkList ul li{
    list-style: disc;
    margin-left: 20px;
    line-height: 40px;
}
.linkList ul li a{
    color: black;
}

.linkList ul li a:hover,
.linkList div:last-of-type li:hover{
    color: green;
    cursor: pointer;
}

/* copyright */
.copyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    
}




