*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}
.container{
    width: 1351px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* commont Button Style */
.btn{
    background:#2563EB;
    border: none;
    border-radius:10px ;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background: #0447d8;
}

.btnOutline{
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius:10px ;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
.btnOutline{
    background: #2563EB;
    border: none;
}

/* navBar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logoItem{
    display: flex;
    gap: 5px;
}

.navList{
    display: flex;
    gap: 25px;
}

.navList li a{
    font-size: 16px;
    font-family: inter;
    font-family: "Inter", sans-serif;
}

.navList li a:hover{
    color: #2563EB;
}


/* Hero Section Style */
.hero{
    background: url(./assets/banner.jpg);
    background-size:cover;
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    
}

.shadowDark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.heroContent{
    position: relative;
    text-align: center;
    z-index: 2;
}
.heroContent h1{
    color: white;
    font-size: 45px;
    
}

.heroContent p{
    color: rgb(143, 141, 141);
    max-width: 600px;
    margin-top: 30px;
}

.heroContent button{
    margin-top: 200px;
}


/* Speaker info Section */
main{
    margin-top: 60px;
}

.speakerInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 40px;
}
.speakerTitle{
    text-align: center;
    margin-bottom: 30px;
}
.singleSpeaker{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.singleSpeaker img{
    width: 100%;
    
}
.speakerContent{
    margin-left: 20px;
}
.speakerContent h6{
    color:#2563EB;
    margin: 5px 0;
    text-transform: uppercase;
}
.speakerContent h3{
    margin-bottom: 10px;
}
